opencv-python==4.9.0.80
mediapipe==0.10.14
protobuf>=4.25.3,<5
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.4.1.post1
openpyxl==3.1.2
PyYAML==6.0.1
plotly==5.20.0
streamlit==1.33.0
pytest==8.1.1
xgboost==2.0.3
